<a href="https://colab.research.google.com/github/amandaswens/DSPS_ASwenson/blob/main/Labs/Lab2_HypotheticalTripPlanning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this exercise you are a city planner. Bus 302 follows the same route for many decades and you know the average trip duration is 32 minutes and 20 seconds.



Now the duration of the trips on the new route are measured for the first N trips and you want to know if there is at a 95% confidence

In [5]:
import pandas as pd
from scipy.stats import norm
import numpy as np

In [11]:
triptimes = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS_FBianco/e94f96690a34c7451f95b974a868454ab9812807/data/triptimes.csv", header=None)

In [20]:
x = triptimes[0].mean()
print(x)

34.4661616883

In [30]:
sigma = triptimes.std()
sigma

0    7.13728
dtype: float64

In [31]:
N = triptimes.shape[0]
N

100

In [35]:
Z = (x - 32.33) / (sigma / np.sqrt(N))
Z # 2 sigma was chosen so consdering this is higher than that the null is to be rejected (idk whats going on)

0    2.992963
dtype: float64