<a href="https://colab.research.google.com/github/amandaswens/DSPS_ASwenson/blob/main/Labs/Lab3_Happinessdf_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
happiness_data = pd.read_csv('https://raw.githubusercontent.com/fedhere/FDSFE_FBianco/refs/heads/main/data/happines.csv')

In [3]:
happiness_data.head()

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [6]:
happiness_data.shape

(160, 12)

In [7]:
print("The number of rows and columns in the dataset respecitively {} there you have".format(happiness_data.shape))

The number of rows and columns in the dataset respecitively (160, 12) there you have

Using descriptions is necessary for HW. (Fill in missed cells below)

In [14]:
median_hap = (happiness_data["Happiness Score"].median())
print("The median happiness is {0:.2f}". format(median_hap))

The median happiness is 5.20

In [15]:
happiness_data["Happiness Score"] > median_hap

0       True
1       True
2       True
3       True
4       True
       ...
155    False
156    False
157    False
158    False
159    False
Name: Happiness Score, Length: 160, dtype: bool

In [16]:
mean_hap = (happiness_data["Happiness Score"].mean())
print("The median happiness is {0:.2f}". format(mean_hap))

The median happiness is 5.37

This is called broadcasting and slicing.